@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-montserrat;
  }
  input {
    @apply border-dark-gray/50;
  }
}

/* Chrome, Safari, Edge, Opera */
.hide-input-arrow::-webkit-outer-spin-button,
.hide-input-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hide-input-arrow {
  -moz-appearance: textfield;
}

.custom-select-arrow {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_732_49509' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect x='20' width='20' height='20' transform='rotate(90 20 0)' fill='%231C1B1F'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_732_49509)'%3E%3Cpath d='M2.6891 5.73478C2.81196 5.61206 2.95966 5.55069 3.13221 5.55069C3.30475 5.55069 3.45245 5.61206 3.57531 5.73478L10 12.1525L16.4455 5.71397C16.5652 5.59444 16.7067 5.53467 16.8702 5.53467C17.0337 5.53467 17.1822 5.60137 17.3157 5.73478C17.4386 5.85751 17.5 6.00505 17.5 6.17741C17.5 6.34976 17.4386 6.4973 17.3157 6.62003L10.4711 13.4524C10.3985 13.5249 10.3243 13.5759 10.2484 13.6052C10.1725 13.6346 10.0897 13.6493 10 13.6493C9.91025 13.6493 9.82745 13.6346 9.7516 13.6052C9.67574 13.5759 9.60149 13.5249 9.52885 13.4524L2.66827 6.59922C2.5486 6.4797 2.48877 6.33909 2.48877 6.17741C2.48877 6.01572 2.55555 5.86818 2.6891 5.73478Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: right 0.7rem /* 8px */ center;
}
